{% extends "base.html" %}
{% block content %}
<h2>Bookmarked Posts</h2>
{% if posts %}
    {% for post in posts %}
        <div class="post">
            <h3>{{ post.title }}</h3>
            {% if post.image %}
                <img src="{{ url_for('static', filename=post.image) }}">
            {% endif %}
            <p>{{ post.content[:200] }}...</p>
            <a class="btn" href="{{ url_for('view_post', post_id=post.id) }}">Read More</a>
        </div>
    {% endfor %}
{% else %}
    <p>You haven't bookmarked any posts yet.</p>
{% endif %}
{% endblock %}